h1 {
  font-size: 30px;
}

.heading {
  margin-bottom: 30px;
  margin-top: 30px;
}

.heading span {
  font-size: 16px;
  font-style: italic;
}

.heading h1 {
  margin-bottom: 2px;
}

.heading img {
  margin: 20px;
  width: 80px;
}

.feature {
  background-color: #b6b6b6;
  padding: 30px 10px 30px;
  border-radius: 15px;
  margin-bottom: 40px;
}

.feature h2 {
  font-size: 25px;
  font-style: italic;
}