.landing {
  height: 88vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing h1 {
  font-family: 'Special Elite', cursive;
  font-size: 130px;
}

.landing p {
  font-family: 'Inconsolata', monospace;
  font-size: 25px;
  font-weight: 600;
  width: 60%;
}

.highlight {
  background-color: #b6b6b6;
  padding: 30px 10px 10px;
  border-radius: 15px;
  margin-bottom: 40px;
}

h2 {
  font-family: 'Special Elite', cursive;
  font-size: 40px;
  font-weight: 700;
}

.grid-h1 {
  font-family: 'Special Elite', cursive;
  font-size: 50px;
  margin-bottom: 60px;
}

.grid-img {
  margin-top: 5%;
  width: 150px;
  margin-bottom: 5%;
}

.grid-title {
  margin-bottom: 5%;
  font-size: 30px;
  font-weight: 700;
}

.grid-desc {
  margin-bottom: 100px;
  font-size: 18px;
}

@media screen and (max-width: 992px) {
  .landing h1 {
    font-size: 90px;
  }
  
  .landing p {
    font-size: 15px;
  }

  h2 {
    font-size: 25px;
  }
}

@media screen and (max-width: 768px) {
  .landing h1 {
    font-size: 50px;
  }
  
  .landing p {
    font-size: 15px;
    width: 80%;
  }

  h2 {
    font-size: 20px;
  }

  .grid-h1 {
    font-size: 40px;
  }
}